.weatherModule {

    height:250px;
    width:250px;
    border: 1px dashed #ccc;
    padding: 1em;
}




.currentConditions {
    float: left;
}
.weatherModule {
    padding: 1em;
}

.currentIcon {
    float: left;
    margin: 0 .75em;
}
