form{
    padding-left:20%;
    padding-right: 20%;
    padding-top: 10%;
    color: #761c19;
    font-size: medium;
    font-family: "Comic Sans MS";


}
body{
    background-image: url("img1.jpg");
}
.btn{
    width: 15%;

.card
{
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    color: black;
}

}
.centered
{
    text-align: center;
    color: #000;
}
.container{
    padding-left:10%;
    padding-right:10%;
    font-size: large;
    font-color:#2aabd2;
    font-family: "Comic Sans MS";
    radius:20px;
}